
<!-- Json array describing the table's columns -->
<div id="json-input">
<p>Json array describing the table's columns</p>

<textarea id="in" (keyup)="onKey($event)" [(ngModel)]="input"></textarea>

</div>

<!-- Dynamic table -->
<!-- Header -->
<p>Dynamic table</p>
<table>
  <tr>
    <th id="th1" >Column</th>
    <th id="th2">Description</th>
  </tr>

  <!-- Body -->
  <tr *ngFor="let column of this.jsonValue">
    <td>{{column['field']}}</td>
    <td>
      <span *ngIf="column['description'] != null && column['description'] != ''">{{column['description']}}</span>
      <span class="alert" *ngIf="column['description'] == null || column['description'] == ''">{{noDescr}}</span>
    </td>
  </tr>

</table>
