<p>Here is possibile to edit the given JSON</p>

<div id="options" *ngFor="let options of this.options; let i = index;">
  <input type="radio" [value]="i" [(ngModel)]="choosenOption" />
  <label>{{options}}</label>
</div>

<p>Json array describing the table's columns</p>


<h6>Input here your json</h6>
<textarea id="in" (keyup)="onKey($event)" [(ngModel)]="input"></textarea>

<app-object-adder [input]="input" *ngIf="choosenOption === 0"></app-object-adder>
<app-object-editor  [input]="input" *ngIf="choosenOption === 1"></app-object-editor>
<app-object-deleter  [input]="input" *ngIf="choosenOption === 2"></app-object-deleter>
<app-object-move [input]="input" *ngIf="choosenOption === 3"></app-object-move>


<h6>Output json</h6>
<textarea id="in" (keyup)="onKey($event)" [(ngModel)]="output"></textarea>