<div class="change-name">
  <h6>Field to change</h6>
  <input id="to-change" type="text" [(ngModel)]="fieldToChange">
</div>

<div class="change-to-apply">
  <h6>Change to apply</h6>

  <div class="change-to-apply-sub">
    <input id="in" type="text" [(ngModel)]="changeToApply" (keyup)="onKeyUp()">
    <select [(ngModel)]="selectedValue" (change)="onSelectChange()" id="special-commands">
      <option *ngFor="let opt of options; let i = index;" [value]="i">{{opt}}</option>
    </select>  
  </div>

</div>

<div class="output">
  <h6>Output json</h6>
  <textarea id="changed-fiels" cols="30" rows="10">{{this.output}}</textarea>
</div>